@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>


<input type="text" id="messageInput"/> <br />
<input type="button" id="sendButton" value="Send Message"/>


<div>
    <ul id="notification">
    </ul>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>

<script>

    $(function () {

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/NotificationsHub")
            .build();

        connection.on("Broadcast", function (message) {
            $("#notification").append("<li>" + message + "</li>");
        });

        connection.start().catch(function (err) {
            return console.error(err.toString());
        });

    });


    $(function () {

        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/NotificationsHub")
            .build();

        connection.start().then(function () {

            document.getElementById("sendButton").onclick = function () {

                var message = document.getElementById("messageInput").value;
                connection.invoke("BroadcastFromClient", message)
                    .catch(function (err) {

                        return console.error(err.toString());
                    });

            }
        });


    });

</script>